@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.Zing {
    background-color: #0057FF;
    min-height: 100vh;
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Header {
    position: absolute;
    width: 370px;
    height: 205px;
    right: 37vh;
    top: 10vh;
    margin: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 93px;

    display: flex;
    align-items: center;

    color: #47E473;
}

.Text {
    position: absolute;
    width: 370px;
    height: 110px;
    right: 37vh;
    bottom: 19vh;
    margin: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.ZingGif {
    position: absolute;
    width: 470px;
    height: auto;
    left: 480px;
    bottom: 385px;
    z-index: 8;
}

.FishTank {
    position: absolute;
    width: 790px;
    height: auto;
    left: 276.29px;
    bottom: 19vh;
    z-index: 6;
}

.John {
    position: absolute;
    width: 334px;
    height: 300.93px;
    left: 153px;
    bottom: 0;
    z-index: 7;
}

.Smith {
    transform: scaleX(-1);

    position: absolute;
    width: 270px;
    height: 199px;
    right: 37vh;
    bottom: 31vh;
}

.LzingBoi {
    position: absolute;
    width: 250px;
    height: auto;
    left: 1700px;
    bottom: 0;
}

.myarrow{
    position: absolute;
    left: 1400px;
    bottom: 120px;
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.line {
    border-top: 0.1rem solid #47E473;
    border-bottom: 0.1rem solid #47E473;
    display: inline-block;
    width: 250px;
    margin: 10px 0;
    transition: width 1s ease-out
}

.line::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

@media (prefers-reduced-motion: no-preference){
    .line:hover {
        width: 300px;
    }
}


.triangle{
    display: flex;
    flex-direction: column;
}

.right{
    transform: rotate(45deg);
    transform-origin: top right;
    border-right: 0.15rem solid #47E473;
    height: 1rem;
}

.left{
    transform: rotate(-45deg);
    transform-origin: bottom right;
    border-left: 0.15rem solid #47E473;
    height: 1rem;
}

@keyframes Width-out {
    0% { transform: scaleX(100%) ;}
    100% { transform: scaleX(140%); }
}