@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.ZingContent {
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
}

.BackArrow {
  width: auto;
  height: auto;
  position: fixed;
  right: 84.3vw;
  top: 6.3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.lineB {
  display: inline-block;
  width: 13vw;
  height: 2px;
  background-color: #EFFF31;
  margin: 10px 0;
  box-shadow: 0 0 10px 2px #FFFFFF;
  transition: width 1s ease-out
}

.lineB::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .lineB:hover {
    width: 15.6vw;
  }
}

.triangleB {
  display: flex;
  flex-direction: column;
}

.rightB {
  transform: rotate(-45deg);
  transform-origin: top left;
  border-left: 0.15rem solid #EFFF31;
  height: 1rem;
  box-shadow: 0 0 10px 2px #FFFFFF;
}

.leftB {
  transform: rotate(45deg);
  transform-origin: bottom left;
  border-right: 0.15rem solid #EFFF31;
  height: 1rem;
  box-shadow: 0 0 10px 2px #FFFFFF;
}

@keyframes Width-out {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(140%);
  }
}

p {
  margin: 0;
}

.Zing1 {
  width: 100vw;
  height: 100vh;
  background-color: #35E13C;
}

.ZingVLogo {
  position: absolute;
  width: 32.5vw;
  height: auto;
  left: 13vw;
  top: 18vh;
  margin: 0;
}

.Gengar {
  position: absolute;
  width: 21.3vw;
  height: auto;
  left: 33.4vw;
  top: 48vh;
}

.Header {
  position: absolute;
  width: 15vw;
  height: 10vh;
  left: 62vw;
  top: 21.8vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12.6vh;
  line-height: 17.2vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3E3181;
}

.TextZingC {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 23.2vw;
  height: 48.1vh;
  left: 62vw;
  top: 37.1vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2vh;
  line-height: 2.5vh;
  text-align: justify;
  text-indent: 3.6vw;
  color: #7A2ADF;
}

.FishTank {
  width: 300vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0094FF, #0094FF), linear-gradient(to right, #1C4CF6, #1C4CF6);
  background-position: 0 0, 100vw 0;
  background-size: 100vw 100vh, 200vw 100vh;
}

.FishTankOpencall {
  position: relative;
  width: auto;
  height: 85.11vh;
  left: 12.5vw;
  top: 7.5vh;
}

.FishTankLogo {
  position: absolute;
  width: 25.1vw;
  height: 34.3vh;
  left: 50.2vw;
  top: 12.6vh;
}

.TankTube {
  position: absolute;
  width: 5vw;
  height: auto;
  left: 6vw;
  top: 11.4vh;
}

.FishGang {
  position: absolute;
  width: 19.2vw;
  height: auto;
  left: 90vw;
  top: 51.8vh;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.BigTank {
  position: absolute;
  width: 5.8vw;
  height: auto;
  left: 153.6vw;
  top: 6.4vh;
}

.guppy1-1 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 75.4vw;
  top: 13.4vh;
}

.guppy2-8 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 77.8vw;
  top: 9.6vh;
}

.guppy3-7 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 77.8vw;
  top: 16.7vh;
}

.guppy4-2 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 110.3vw;
  top: 19.2vh;
}

.guppy5-4 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 139.2vw;
  top: 50.6vh;
}

.guppy6-3 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 142.1vw;
  top: 145.7vh;
}

.guppy7-5 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 163.4vw;
  top: 79.5vh;
}

.guppy8-6 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 116.3vw;
  top: 72.4vh;
}

.guppy9-4 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 237.8vw;
  top: 51.4vh;
}

.guppy10-3 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 240.8vw;
  top: 46.4vh;
}

.guppy11-8 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 257.2vw;
  top: 16.7vh;
}

.guppy12-1 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 260.5vw;
  top: 11.7vh;
}

.guppy13-7 {
  position: absolute;
  width: 1.4vw;
  height: auto;
  left: 272vw;
  top: 55.7vh;
}

.weed1 {
  position: absolute;
  width: 4.1vw;
  height: auto;
  left: 275vw;
  bottom: 0vh;
}

.weed2 {
  position: absolute;
  width: 5.1vw;
  height: auto;
  left: 281.2vw;
  bottom: 8vh;
  z-index: 9;
}

.TV {
  position: absolute;
  width: 15.2vw;
  height: auto;
  left: 277vw;
  bottom: -7vh;
}

.bubble {
  position: absolute;
  width: 7.7vw;
  height: auto;
  left: 281.8vw;
  bottom: 20vh;
}

.FishTankPic1 {
  position: absolute;
  width: 29.8vw;
  height: auto;
  left: 81.7vw;
  top: 24.8vh;
}

.FishTankPic2 {
  position: absolute;
  width: 24.1vw;
  height: auto;
  left: 115.8vw;
  top: 11vh;
}

.FishTankPic3 {
  position: absolute;
  width: 32.9vw;
  height: auto;
  left: 121.3vw;
  top: 59.3vh;
}

.FishTankPic4 {
  position: absolute;
  width: 57.5vw;
  height: auto;
  left: 171vw;
  top: 5.4vh;
}

.FishTankPic5 {
  position: absolute;
  width: 16.1vw;
  height: auto;
  left: 237.8vw;
  top: 13.9vh;
}

.FishTankPic6 {
  position: absolute;
  width: 28.2vw;
  height: auto;
  left: 239.3vw;
  top: 55.2vh;
}

.FishTankPic7 {
  position: absolute;
  width: 27.9vw;
  height: auto;
  left: 263vw;
  top: 8vh;
}

.FishTankPic8 {
  position: absolute;
  width: 16.3vw;
  height: auto;
  left: 274.7vw;
  top: 48.3vh;
}

.FishTankText1 {
  position: absolute;
  width: 22.6vw;
  height: auto;
  left: 50.2vw;
  top: 56vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 2.5vh;
  text-align: justify;
  text-indent: 5.2vw;
  color: #BBF120;
}

.FishTankText2 {
  position: absolute;
  width: 23.5vw;
  height: 36.7vh;
  left: 144vw;
  top: 20vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 2.5vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #BBF120;
}

.ZZTV {
  width: 300vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #7A2ADF, #7A2ADF), linear-gradient(to right, #EFFF31, #EFFF31), url(./ZZTV3BG.jpg);
  background-position: 0 0, 100vw 0, 200vw 0;
  background-size: 100vw 100vh, 100vw 100vh, 100vw 100vh;
}

.LZingBoi {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(./LzingBoiBG.jpg);
}