@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@font-face {
  font-family: 'Athelas Regular';
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: local('Athelas Regular'), url('../font/Noto-Serif/Athelas-Regular.woff') format('woff');
}

.IWillContent {
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
}

.BackArrowIWill {
  width: auto;
  height: auto;
  position: fixed;
  right: 84.3vw;
  top: 6.3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.lineBIWill {
  display: inline-block;
  width: 13vw;
  height: 2px;
  background-color: #5582B8;
  margin: 10px 0;
  box-shadow: 0 0 10px 2px #FFFFFF;
  transition: width 1s ease-out
}

.lineBIWill::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .lineBIWill:hover {
    width: 15.6vw;
  }
}

.triangleBIWill {
  display: flex;
  flex-direction: column;
}

.rightBIWill {
  transform: rotate(-45deg);
  transform-origin: top left;
  border-left: 0.15rem solid #5582B8;
  height: 1rem;
  box-shadow: 0 0 10px 1px #FFFFFF;
}

.leftBIWill {
  transform: rotate(45deg);
  transform-origin: bottom left;
  border-right: 0.15rem solid #5582B8;
  height: 1rem;
  box-shadow: 0 0 10px 1px #FFFFFF;
}

@keyframes Width-out {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(140%);
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: wavy underline;
  text-shadow: #Fc0 1px 0 10px;
}

.IWillContent1 {
  width: 1310vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #B9C0BE, #B9C0BE), linear-gradient(to right, #92B5A8, #92B5A8), linear-gradient(to right, #EDEDED, #EDEDED), linear-gradient(to right, #D2D8D6, #D2D8D6), linear-gradient(to right, #B9C0BE, #B9C0BE), linear-gradient(to right, #92B5A8, #92B5A8), linear-gradient(to right, #EDEDED, #EDEDED), linear-gradient(to right, #D2D8D6, #D2D8D6);
  background-position: 0 0, 100vw 0, 200vw 0, 300vw 0, 400vw 0, 700vw 0, 800vw 0, 1000vw 0;
  background-size: 100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh, 300vw 100vh, 100vw 100vh, 200vw 100vh, 330vw 100vh;
}

.IWillFont {
  position: absolute;
  width: 280px;
  height: 494px;
  left: 203px;
  top: 161px;
}

.IWillPic1 {
  position: absolute;
  width: 532px;
  height: 245px;
  left: 697px;
  top: 333px;
}

.IWillPic2 {
  position: absolute;
  width: 614px;
  height: 418px;
  left: 2573px;
  top: 95px;
}

.IWillPic3 {
  position: absolute;
  width: 578px;
  height: 417px;
  left: 3335px;
  top: 482px;
}

.IWillPic4 {
  position: absolute;
  width: 526px;
  height: 244px;
  left: 4002px;
  top: 76px;
}

.IWillPic5 {
  position: absolute;
  width: 660px;
  height: 440px;
  left: 4853px;
  top: 114px;
}

.IWillPic6 {
  position: absolute;
  width: 472px;
  height: 775px;
  left: 7764px;
  top: 86px;
}

.IWillPic7 {
  position: absolute;
  width: 347px;
  height: 231px;
  left: 8712px;
  top: 630px;
}

.IWillPic8 {
  position: absolute;
  width: 509px;
  height: 825px;
  left: 9217px;
  top: 65px;
}

.IWillPic9 {
  position: absolute;
  width: 488px;
  height: 325px;
  left: 9810px;
  top: 72px;
}

.IWillPic10 {
  position: absolute;
  width: 358px;
  height: 305px;
  left: 10503px;
  top: 72px;
}

.IWillPic11 {
  position: absolute;
  width: 454px;
  height: 302px;
  left: 11066px;
  top: 72px;
}

.IWillPic12 {
  position: absolute;
  width: 531px;
  height: 353px;
  left: 10702px;
  top: 484px;
}

.IWillPic13 {
  position: absolute;
  width: 278px;
  height: 416px;
  left: 12166px;
  top: 186px;
}

.IWillPic14 {
  position: absolute;
  width: 811px;
  height: 656px;
  left: 12513px;
  top: 146px;
}

.IWillPic15 {
  position: absolute;
  width: 508px;
  height: 522px;
  left: 15221px;
  top: 84px;
}

.IWillPic16 {
  position: absolute;
  width: 651px;
  height: 420px;
  left: 16320px;
  top: 494px;
}

.IWillPic17 {
  position: absolute;
  width: 612px;
  height: 409px;
  left: 16726px;
  top: 42px;
}

.IWillPic18 {
  position: absolute;
  width: 545px;
  height: 363px;
  left: 17465px;
  top: 76px;
}

.IWillPic19 {
  position: absolute;
  width: 575px;
  height: 380px;
  left: 17665px;
  top: 509px;
}

.IWillPic20 {
  position: absolute;
  width: 563px;
  height: 845px;
  left: 18478px;
  top: 44px;
}

.IWillPic21 {
  position: absolute;
  width: 718.76px;
  height: 947px;
  left: 19200px;
  top: 0;
}

.IWillPic22 {
  position: absolute;
  width: 558px;
  height: 558px;
  left: 21056px;
  top: 230px;
}

.IWillPic23 {
  position: absolute;
  width: 3840px;
  height: 947px;
  left: 21696px;
  top: 0px;
  z-index: 1;
}

.IWill132QRVid {
  position: absolute;
  width: 1280px;
  height: 720px;
  left: 13751px;
  top: 84px;
}

.IWillText1 {
  position: absolute;
  width: 437px;
  height: 241px;
  left: 1325px;
  top: 611px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #FFFFFF;
}

.IWillAW1 {
  position: absolute;
  width: 456px;
  height: 50px;
  left: 2047px;
  top: 391px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.IWillAW11 {
  height: 50px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  text-align: justify;
  color: #395D77;
}

.IWillAW12 {
  height: 50px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: justify;
  color: #395D77;
}

.IWillAW1Text1 {
  position: absolute;
  width: 427px;
  height: 178px;
  left: 2047px;
  top: 474px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW1Text2 {
  position: absolute;
  width: 426px;
  height: 190px;
  left: 2698px;
  top: 618px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW1Text3 {
  position: absolute;
  width: 247px;
  height: 44px;
  left: 3244px;
  top: 177px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
  padding-left: 20px;
  border-left: 1px solid #000000;
}

.IWillAW2 {
  position: absolute;
  width: 365px;
  height: 179px;
  left: 4129px;
  top: 367px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  color: #557790;
}

.IWillAW2Text1 {
  position: absolute;
  width: 399px;
  height: 162px;
  left: 4299px;
  top: 618px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW2Text2 {
  position: absolute;
  width: 491px;
  height: 208px;
  left: 4971px;
  top: 653px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillMockupsText {
  position: absolute;
  width: 1754px;
  height: 20px;
  left: 5836px;
  top: 114px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
}

.IWillAW3 {
  position: absolute;
  width: 269px;
  height: 218px;
  left: 8290px;
  top: 88px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  color: #557790;
}

.IWillAW3Text1 {
  position: absolute;
  width: 386px;
  height: 268px;
  left: 8290px;
  top: 403px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW3Text2 {
  position: absolute;
  width: 347px;
  height: 133px;
  left: 8712px;
  top: 403px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW3Text3 {
  position: absolute;
  width: 226px;
  height: 71px;
  left: 8915px;
  top: 72px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-left: 20px;
  border-left: 1px solid #000000;
}

.IWillAW4 {
  position: absolute;
  width: 523px;
  height: 229px;
  left: 9810px;
  top: 456px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  color: #557790;
}

.IWillAW4Text1 {
  position: absolute;
  width: 444px;
  height: 108px;
  left: 10135px;
  top: 744px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW5 {
  position: absolute;
  width: 539px;
  height: 38px;
  left: 11591px;
  top: 186px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: justify;
  color: #557790;
}

.IWillAW5Text1 {
  position: absolute;
  width: 669px;
  height: 138px;
  left: 11326px;
  top: 602px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW5Text2 {
  position: absolute;
  width: 90px;
  height: 60px;
  left: 11995px;
  top: 417px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
  padding-left: 20px;
  border-left: 1px solid #000000;
}

.IWillAW6 {
  position: absolute;
  width: 272px;
  height: 144px;
  left: 15790px;
  top: 141px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  color: #557790;
}

.IWillAW6Text1 {
  position: absolute;
  width: 483px;
  height: 158px;
  left: 15668px;
  top: 687px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-indent: 50px;
  color: #000000;
}

.IWillAW6Text2 {
  position: absolute;
  width: 176px;
  height: 46px;
  left: 16320px;
  top: 405px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-left: 20px;
  border-left: 1px solid #000000;
}

.IWillInstallationView {
  position: absolute;
  width: 161px;
  height: 24px;
  left: 18142px;
  top: 230px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.IWillAW7 {
  position: absolute;
  width: 211px;
  height: 132px;
  left: 20050px;
  top: 105px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: justify;
  color: #557790;
}

.IWillAW71 {
  position: absolute;
  width: 211px;
  height: 92px;
  left: 20227px;
  top: 279px;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: justify;
  color: #82A5BE;
}

.IWillAW7Text1 {
  position: absolute;
  width: 396px;
  height: 399px;
  left: 20050px;
  top: 477px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW7Text2 {
  position: absolute;
  width: 433px;
  height: 179px;
  left: 20534px;
  top: 477px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
}

.IWillAW7Text3 {
  position: absolute;
  width: 340px;
  height: 42px;
  left: 21056px;
  top: 134px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
}

.IWillAW7Text3 span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.IWillAW7Text4 {
  position: absolute;
  width: 339px;
  height: 22px;
  left: 21973px;
  top: 213px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
  z-index: 2;
}

.IWillAW7Text4 span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.IWillAW7Text5 {
  position: absolute;
  width: 468px;
  height: 113px;
  left: 22990px;
  top: 579px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 50px;
  color: #000000;
  z-index: 2;
}

.IWillAW7Text5 span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}