@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@font-face {
  font-family: 'Athelas Regular';
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: local('Athelas Regular'), url('../font/Noto-Serif/Athelas-Regular.woff') format('woff');
}

.IWillContent {
  width: auto;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #5582B8 #B9C0BE;
}

.IWillContent::-webkit-scrollbar {
  height: 12px;
}

.IWillContent::-webkit-scrollbar-track {
  background-color: #B9C0BE;
}

.IWillContent::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #5582B8;
  border: 2px solid #B9C0BE;
}

.BackArrowIWill {
  width: auto;
  height: auto;
  position: fixed;
  right: 84.3vw;
  top: 6.3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.lineBIWill {
  display: inline-block;
  width: 13vw;
  height: 2px;
  background-color: #5582B8;
  margin: 10px 0;
  box-shadow: 0 0 10px 2px #FFFFFF;
  transition: width 1s ease-out
}

.lineBIWill::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .lineBIWill:hover {
    width: 15.6vw;
  }
}

.triangleBIWill {
  display: flex;
  flex-direction: column;
}

.rightBIWill {
  transform: rotate(-45deg);
  transform-origin: top left;
  border-left: 0.15rem solid #5582B8;
  height: 1rem;
  box-shadow: 0 0 10px 1px #FFFFFF;
}

.leftBIWill {
  transform: rotate(45deg);
  transform-origin: bottom left;
  border-right: 0.15rem solid #5582B8;
  height: 1rem;
  box-shadow: 0 0 10px 1px #FFFFFF;
}

@keyframes Width-out {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(140%);
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-shadow: #Fc0 1px 0 10px;
}

.IWillContent1 a:hover {
  text-decoration: wavy underline;
}

.IWillContent1 {
  width: 1310vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #B9C0BE, #B9C0BE), linear-gradient(to right, #92B5A8, #92B5A8), linear-gradient(to right, #EDEDED, #EDEDED), linear-gradient(to right, #D2D8D6, #D2D8D6), linear-gradient(to right, #B9C0BE, #B9C0BE), linear-gradient(to right, #92B5A8, #92B5A8), linear-gradient(to right, #EDEDED, #EDEDED), linear-gradient(to right, #D2D8D6, #D2D8D6);
  background-position: 0 0, 100vw 0, 200vw 0, 300vw 0, 400vw 0, 700vw 0, 800vw 0, 1000vw 0;
  background-size: 100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh, 300vw 100vh, 100vw 100vh, 200vw 100vh, 330vw 100vh;
}

.IWillFont {
  position: absolute;
  width: 14.5vw;
  height: auto;
  left: 10.5vw;
  top: 8.3vh;
}

.IWillPic1 {
  position: absolute;
  width: 27.7vw;
  height: auto;
  left: 36.3vw;
  top: 35.1vh;
}

.IWillPic2 {
  position: absolute;
  width: 31.9vw;
  height: auto;
  left: 134vw;
  top: 10vh;
}

.IWillPic3 {
  position: absolute;
  width: 30.1vw;
  height: auto;
  left: 173.6vw;
  top: 50.8vh;
}

.IWillPic4 {
  position: absolute;
  width: 27.3vw;
  height: auto;
  left: 208.4vw;
  top: 8vh;
}

.IWillPic5 {
  position: absolute;
  width: 34.3vw;
  height: auto;
  left: 252.7vw;
  top: 12vh;
}

.IWillPic6 {
  position: absolute;
  width: 24.5vw;
  height: auto;
  left: 404.3vw;
  top: 9vh;
}

.IWillPic7 {
  position: absolute;
  width: 18vw;
  height: auto;
  left: 453.75vw;
  top: 66.5vh;
}

.IWillPic8 {
  position: absolute;
  width: 26.5vw;
  height: auto;
  left: 480vw;
  top: 6.8vh;
}

.IWillPic9 {
  position: absolute;
  width: 25.4vw;
  height: auto;
  left: 510.9vw;
  top: 7.6vh;
}

.IWillPic10 {
  position: absolute;
  width: 18.6vw;
  height: auto;
  left: 547vw;
  top: 7.6vh;
}

.IWillPic11 {
  position: absolute;
  width: 23.6vw;
  height: auto;
  left: 576.3vw;
  top: 7.6vh;
}

.IWillPic12 {
  position: absolute;
  width: 27.6vw;
  height: auto;
  left: 557.3vw;
  top: 51.1vh;
}

.IWillPic13 {
  position: absolute;
  width: 14.4vw;
  height: auto;
  left: 633.6vw;
  top: 19.6vh;
}

.IWillPic14 {
  position: absolute;
  width: 42.2vw;
  height: auto;
  left: 651.7vw;
  top: 15.4vh;
}

.IWillPic15 {
  position: absolute;
  width: 26.4vw;
  height: auto;
  left: 792.7vw;
  top: 8.8vh;
}

.IWillPic16 {
  position: absolute;
  width: 33.9vw;
  height: auto;
  left: 850vw;
  top: 52.1vh;
}

.IWillPic17 {
  position: absolute;
  width: 31.8vw;
  height: auto;
  left: 871.1vw;
  top: 4.4vh;
}

.IWillPic18 {
  position: absolute;
  width: 28.3vw;
  height: auto;
  left: 909.6vw;
  top: 8vh;
}

.IWillPic19 {
  position: absolute;
  width: 29.9vw;
  height: auto;
  left: 920vw;
  top: 53.7vh;
}

.IWillPic20 {
  position: absolute;
  width: 29.3vw;
  height: auto;
  left: 962.3vw;
  top: 4.6vh;
}

.IWillPic21 {
  position: absolute;
  width: auto;
  height: 100vh;
  left: 1000vw;
  top: 0;
}

.IWillPic22 {
  position: absolute;
  width: 29vw;
  height: auto;
  left: 1096.6vw;
  top: 24.2vh;
}

.IWillPic23 {
  position: absolute;
  width: auto;
  height: 100vh;
  left: 1130vw;
  top: 0px;
  z-index: 1;
}

.IWillPaperMock img {
  opacity: 0;
  z-index: 3;
  animation: fadeIn 100s;
  -webkit-animation: fadeIn 100s;
  -moz-animation: fadeIn 100s;
  -o-animation: fadeIn 100s;
  -ms-animation: fadeIn 100s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.IWillPaperMockBlank {
  position: absolute;
  width: 92.5vw;
  height: 67.5vh;
  left: 303.125vw;
  top: 19.2vh;
  z-index: 2;
}

.IWill132QRVid {
  position: absolute;
  width: 66.6vw;
  height: 76vh;
  left: 716.1vw;
  top: 8.8vh;
}

.IWillText1 {
  position: absolute;
  width: 22.7vw;
  height: 25.4vh;
  left: 69vw;
  top: 64.5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #FFFFFF;
}

.IWillAW1 {
  position: absolute;
  width: 23.75vw;
  height: 5.2vh;
  left: 106.6vw;
  top: 41.2vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.IWillAW11 {
  height: 5.2vh;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 5.7vh;
  text-align: justify;
  color: #395D77;
}

.IWillAW12 {
  height: 5.2vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 4.75vh;
  text-align: justify;
  color: #395D77;
}

.IWillAW1Text1 {
  position: absolute;
  width: 22.2vw;
  height: 18.7vh;
  left: 106.6vw;
  top: 50vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  ;
  color: #000000;
}

.IWillAW1Text2 {
  position: absolute;
  width: 22.1vw;
  height: 20vh;
  left: 140.5vw;
  top: 65.2vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW1Text3 {
  position: absolute;
  width: 12.8vw;
  height: 4.6vh;
  left: 168.95vw;
  top: 18.69vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  color: #000000;
  padding-left: 1.04vw;
  border-left: 1px solid #000000;
}

.IWillAW2 {
  position: absolute;
  width: 19.01vw;
  height: 18.9vh;
  left: 215.05vw;
  top: 38.7vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 4.5vh;
  color: #557790;
}

.IWillAW2Text1 {
  position: absolute;
  width: 20.7vw;
  height: 17.1vh;
  left: 223.9vw;
  top: 65.2vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW2Text2 {
  position: absolute;
  width: 25.5vw;
  height: 21.9vh;
  left: 258.9vw;
  top: 68.9vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillMockupsText {
  position: absolute;
  width: 91.3vw;
  height: 2.1vh;
  left: 303.9vw;
  top: 12.03vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  color: #000000;
}

.IWillAW3 {
  position: absolute;
  width: 14.01vw;
  height: 23.02vh;
  left: 431.77vw;
  top: 9.29vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 4.7vh;
  color: #557790;
}

.IWillAW3Text1 {
  position: absolute;
  width: 20.1vw;
  height: 28.2vh;
  left: 431.7vw;
  top: 42.5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW3Text2 {
  position: absolute;
  width: 18.07vw;
  height: 14.04vh;
  left: 453.75vw;
  top: 42.5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW3Text3 {
  position: absolute;
  width: 11.7vw;
  height: 7.4vh;
  left: 464.3vw;
  top: 7.6vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  color: #000000;
  padding-left: 1.04vw;
  border-left: 1px solid #000000;
}

.IWillAW4 {
  position: absolute;
  width: 27.2vw;
  height: 24.1vh;
  left: 510.9vw;
  top: 48.1vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 4.7vh;
  color: #557790;
}

.IWillAW4Text1 {
  position: absolute;
  width: 23.125vw;
  height: 11.4vh;
  left: 527.8vw;
  top: 78.5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW5 {
  position: absolute;
  width: 28.07vw;
  height: 4.01vh;
  left: 603.6vw;
  top: 19.6vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 4.7vh;
  text-align: justify;
  color: #557790;
}

.IWillAW5Text1 {
  position: absolute;
  width: 34.8vw;
  height: 14.5vh;
  left: 589.89vw;
  top: 63.5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW5Text2 {
  position: absolute;
  width: 4.6vw;
  height: 6.3vh;
  left: 624.73vw;
  top: 44vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  color: #000000;
  padding-left: 1.04vw;
  border-left: 1px solid #000000;
}

.IWillAW6 {
  position: absolute;
  width: 14.1vw;
  height: 15.2vh;
  left: 822.39vw;
  top: 14.88vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  color: #557790;
}

.IWillAW6Text1 {
  position: absolute;
  width: 25.1vw;
  height: 16.6vh;
  left: 816vw;
  top: 72.5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW6Text2 {
  position: absolute;
  width: 9.1vw;
  height: 4.8vh;
  left: 850vw;
  top: 42.7vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  color: #000000;
  padding-left: 1.04vw;
  border-left: 1px solid #000000;
}

.IWillInstallationView {
  position: absolute;
  width: 8.3vw;
  height: 2.5vh;
  left: 944.89vw;
  top: 24.2vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  color: #000000;
}

.IWillAW7 {
  position: absolute;
  width: 10.9vw;
  height: 13.9vh;
  left: 1044.2vw;
  top: 11vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 4.7vh;
  text-align: justify;
  color: #557790;
}

.IWillAW71 {
  position: absolute;
  width: 10.9vw;
  height: 9.7vh;
  left: 1053.4vw;
  top: 29.4vh;
  font-family: Athelas;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vh;
  line-height: 4.7vh;
  text-align: justify;
  color: #82A5BE;
}

.IWillAW7Text1 {
  position: absolute;
  width: 20.6vw;
  height: 42.1vh;
  left: 1044.2vw;
  top: 50.3vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW7Text2 {
  position: absolute;
  width: 22.5vw;
  height: 18.9vh;
  left: 1069.47vw;
  top: 50.3vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
}

.IWillAW7Text3 {
  position: absolute;
  width: 17.7vw;
  height: 4.4vh;
  left: 1096.6vw;
  top: 14.1vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  color: #000000;
}

.IWillAW7Text3 span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.IWillAW7Text4 {
  position: absolute;
  width: 17.6vw;
  height: 2.3vh;
  left: 1144.42vw;
  top: 22.4vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  color: #000000;
  z-index: 2;
}

.IWillAW7Text4 span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.IWillAW7Text5 {
  position: absolute;
  width: 24.375vw;
  height: 11.9vh;
  left: 1197.3vw;
  top: 61.1vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.3vh;
  text-align: justify;
  text-indent: 2.6vw;
  color: #000000;
  z-index: 2;
}

.IWillAW7Text5 span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}