@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'ThunderLight';
  src: url('../font/Fonts/Web-PS/Thunder-LightLC.woff2') format('woff2'),
    /* Modern Browsers */
    url('../font/Fonts/Web-PS/Thunder-LightLC.otf') format('opentype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.AsYou {
  background-color: #E7E7E7;
  min-height: 100vh;
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  scroll-snap-align: end;
}

.AsYouFont {
  position: absolute;
  width: 18.75vw;
  height: auto;
  left: 14vw;
  top: 13.6vh;
  margin: 0;
}

.Year2 {
  position: absolute;
  width: 10.3vw;
  height: 13.3vh;
  left: 39.8vw;
  top: 13.6vh;
  font-family: 'ThunderLight';
  font-style: normal;
  font-weight: 300;
  font-size: 10.5vh;
  line-height: 9.8vh;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #F91A1A;
  margin: 0;
}

.CoverImg2 {
  position: absolute;
  width: auto;
  height: 84.4vh;
  left: 62.5vw;
  top: 5vh;
}

.AsYouFontMobile {
  display: none;
  visibility: hidden;
}

.Text2 {
  position: absolute;
  width: 15.7vw;
  height: 8.7vh;
  left: 38.4vw;
  bottom: 21.6vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 3vh;
  color: #000000;
  margin: 0;
}

.myarrow2 {
  position: absolute;
  left: 38.5vw;
  bottom: 12.6vh;
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.line2 {
  display: inline-block;
  width: 13vw;
  height: 2px;
  background-color: #F91A1A;
  margin: 10px 0;
  transition: width 1s ease-out;
}

.line2::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .line2:hover {
    width: 15.6vw;
  }
}

.triangle2 {
  display: flex;
  flex-direction: column;
}

.right2 {
  transform: rotate(45deg);
  transform-origin: top right;
  border-right: 0.15rem solid #F91A1A;
  height: 1rem;
}

.left2 {
  transform: rotate(-45deg);
  transform-origin: bottom right;
  border-left: 0.15rem solid #F91A1A;
  height: 1rem;
}

@keyframes Width-out {
  0% {
    transform: scaleX(100%);
  }

  100% {
    transform: scaleX(140%);
  }
}

@media screen and (max-width: 428px) {

  .Year2 {
    position: absolute;
    width: 16.6vw;
    height: 4.6vh;
    left: 75vw;
    top: 4.6vh;
    font-style: normal;
    font-weight: 300;
    font-size: 4.6vh;
    line-height: 4.3vh;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .AsYouFont {
    display: none;
    visibility: hidden;
  }

  .AsYouFontMobile {
    position: absolute;
    width: 48vw;
    height: auto;
    left: 16.6vw;
    top: 6.5vh;
    display: unset;
    visibility: unset;
  }

  .CoverImg2 {
    position: absolute;
    width: 60vw;
    height: auto;
    left: 16.6vw;
    top: 28vh;
  }

  .Text2 {
    position: absolute;
    width: 152px;
    height: 53px;
    left: 16.6vw;
    top: 85vh;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }

  .myarrow2 {
    position: absolute;
    left: 52.7vw;
    bottom: 2.6vh;
  }

  .line2 {
    display: inline-block;
    width: 41.6vw;
    height: 2px;
    margin: 10px 0;
  }

}