.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: auto;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .Logo-scale {
    animation: App-logo-scale infinite 5s linear;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.About {
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
}

.App-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-scale {
  from {
    transform: scale(.001);
  }
  to {
    transform: scale(300%);
  }
}
