@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'ThunderLight';
  src: url('../font/Fonts/Web-PS/Thunder-LightLC.woff2') format('woff2'), /* Modern Browsers */
  url('../font/Fonts/Web-PS/Thunder-LightLC.otf') format('opentype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.IWill {
  background-color: #D2D8D6;
  min-height: 100vh;
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  scroll-snap-align: start;
}

.Header3 {
  position: absolute;
  width: 368px;
  height: 450px;
  left: 1414px;
  top: 213px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 92px;
  display: flex;
  align-items: center;
  color: #2E6C7A;
  margin: 0;
}

.Year3 {
  position: absolute;
  width: 198px;
  height: 126px;
  left: 1120px;
  top: 111px;
  font-family: 'ThunderLight';
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #557790;
  margin: 0;
}

.CoverImg3 {
  position: absolute;
  width: 755px;
  height: auto;
  left: 269px;
  top: 111px;
}

.Text3 {
  position: absolute;
  width: 271px;
  height: 85px;
  left: 1125px;
  bottom: 145px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
}

.myarrow3 {
  position: absolute;
  left: 1500px;
  bottom: 145px;
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.line3 {
  display: inline-block;
  width: 250px;
  height: 2px;
  background-color: #557790;
  margin: 10px 0;
  transition: width 1s ease-out
}

.line3::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .line3:hover {
    width: 300px;
  }
}

.triangle3 {
  display: flex;
  flex-direction: column;
}

.right3 {
  transform: rotate(45deg);
  transform-origin: top right;
  border-right: 0.15rem solid #557790;
  height: 1rem;
}

.left3 {
  transform: rotate(-45deg);
  transform-origin: bottom right;
  border-left: 0.15rem solid #557790;
  height: 1rem;
}

@keyframes Width-out {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(140%);
  }
}